<!DOCTYPE html>
<html>

<head>
    <title>Review Data</title>
</head>

<body>
    <h1>Review Data</h1>
    <div id="htmlContent">

    </div>
    <pre><%= JSON.stringify(data, null, 2) %></pre>
</body>

</html>